
/***************** ‰E‘¤ ‚¨’m‚ç‚¹ *****************/
#info0{margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
#info0 ul{margin:0px; padding:0px 0px 0px 0px; font-size:75%; list-style:none; font-family:"‚l‚r ‚oƒSƒVƒbƒN", Osaka, "ƒqƒ‰ƒMƒmŠpƒS Pro W3"}
#info0 ul li{border-bottom:#F7931E solid 1px; margin:2px 0px 4px 0px; padding:0px 20px 2px 10px;}
#info0 ul li a{text-decoration:none; color:#333333;}
#info0 ul li a:hover{color:#1BB2EB;}
.date{color:#333333; font-family:Arial, Helvetica, sans-serif; margin:0px; padding:0px 10px 0px 0px; font-weight:bold; width:50px;}



